


.aihub-text-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;

    margin-bottom: 4rem;
}

.aihub-text-section>h3 {
    color: #fff;
    font-size: 1.5rem;
    /* font-weight: 600; */
    letter-spacing: .2rem;

    max-width: 40%;
    text-align: left;
    font-family: face;
    
}

.aihub-text-section>p {
    max-width: 50%;
    text-align: right;
}



.aihub-images-section img{ 
    width: 16rem;
    border: 2px solid #fff;
    border-radius: 1rem;
}


.aihub-images-section .first-img{
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
}

.aihub-images-section .second-img{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    
}






/* media Query */

@media screen and (max-width: 1262px) {
    
    .aihub-text-section {
        flex-direction: column;
    }


    .aihub-text-section>h3 {
        max-width: 100%;
        text-align: center;
    }
    .aihub-text-section> p{
        max-width: 100%;
        text-align: center;
    }
}







@media screen and (max-width: 910px) {
    .aihub-images-section img{
        width: calc(16rem/2);
    }   
}





@media screen and (max-width: 510px) {
    .aihub-images-section img{
        width: calc((16rem*2)/3);
    } 
    .aihub-images-section .first-img{
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    } 

    
    .aihub-images-section .first-img img:nth-child(even){
        align-self: flex-start;
    } 
    
    
    .aihub-images-section .second-img{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    } 
    .aihub-images-section .second-img img:nth-child(even){
        align-self: flex-end;
    } 
}

