
.footer-content{
    width: 100%;
    background-color: var(--highlight);
    padding: 1rem;
    border-radius: 20px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}


.footer-content .seperator{
    height: .3rem;
    width: 5rem;
    border-radius: 50px;
}



